<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>C-基础.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.63775498</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Grand-Central-Dispatch.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.63775599</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Javascript-jQuery.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.63775599</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Swift-to-Markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.637757</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Swiftc-Linux-环境下编译-Swift.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.63775599</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Useful-LLDB-Commands.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.63775599</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>iOS-Notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.63775498</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>weak-self-unowned-self.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.637757</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>如何用Ulysses在MacOS上写作然后部署到Hexo的远端Blog.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623885.637752</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>如何用Ulysses在MacOS上写作然后部署到Hexo的远端Blog.md</string>
		</array>
		<array>
			<string>C-基础.md</string>
		</array>
		<array>
			<string>iOS-Notes.md</string>
		</array>
		<array>
			<string>Grand-Central-Dispatch.md</string>
		</array>
		<array>
			<string>Useful-LLDB-Commands.md</string>
		</array>
		<array>
			<string>Swiftc-Linux-环境下编译-Swift.md</string>
		</array>
		<array>
			<string>Javascript-jQuery.md</string>
		</array>
		<array>
			<string>Swift-to-Markdown.md</string>
		</array>
		<array>
			<string>weak-self-unowned-self.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
