<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ACM-1002.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619598</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Advanced-Swift-Part-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619699</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Advanced-Swift-Part-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619699</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Animated-Play-Pause-Button-written-in-Swift.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619801</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Another-UITableView-Problem-actually-UITapGesture.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620498</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Audio-Process-In-iOS.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619801</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GeneratorType-SequenceType-CollectionType-它们都是啥？.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.986206</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Ghost-Blogging-Platform-Preview.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619902</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GitLab-on-CentOS.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619801</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>God-or-Science.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619998</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Java-Class-Notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620099</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>JavaScript-Async-（异步）.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619998</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Number-Cross-Yet-another-number-puzzle-game.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.986206</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>PKU-ACM-1001-Exponentiation-求高精度幂.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619998</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Play-with-Swift-Swift-1-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.986202</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Postgresql-数据库从本地通过SSH-迁移到Openshift-云端.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620099</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Rails-4-在Openshift-上pre-compiled-图片问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620099</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Rails-Persistence.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.986202</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Rasta-Spring-Loader-Swift-Animation.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620701</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Some-notes-about-amazon-s3-403-Forbidden-error-Rails-jQuery-File-Upload-aws-sdk.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.986202</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Swift-2-模块化-Observer-Pattern-（观察者模式）-实例.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620498</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Swift-Function-and-Collection-Operations.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620301</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Swift-Note.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620301</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>UITableViewCell-Custom-Views.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620301</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Xcode-Debug.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620403</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>iOS-Core-Animation-Notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619902</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>iOS-Swift-Basic-Data-type-and-KVO-notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98619902</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>iOS-动态字体大小一行代码.md</key>
			<dict>
				<key>lastModification</key>
				<real>486659206.19490898</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>在Mac-OS-X-10-9环境下搭建MacVim平台.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620403</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>奇怪的现象.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.986206</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>将本地ruby-on-rails-网站部署到openshift，包含GIT库迁移.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620498</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>激战2-Boss计时器-iOS-地图，攻略，-倒计时.md</key>
			<dict>
				<key>lastModification</key>
				<real>486623718.98620403</real>
				<key>version</key>
				<dict>
					<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>495352496.17706001</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ACM-1002.md</string>
		</array>
		<array>
			<string>Advanced-Swift-Part-2.md</string>
		</array>
		<array>
			<string>Advanced-Swift-Part-1.md</string>
		</array>
		<array>
			<string>Audio-Process-In-iOS.md</string>
		</array>
		<array>
			<string>Animated-Play-Pause-Button-written-in-Swift.md</string>
		</array>
		<array>
			<string>GitLab-on-CentOS.md</string>
		</array>
		<array>
			<string>Ghost-Blogging-Platform-Preview.md</string>
		</array>
		<array>
			<string>iOS-Swift-Basic-Data-type-and-KVO-notes.md</string>
		</array>
		<array>
			<string>iOS-Core-Animation-Notes.md</string>
		</array>
		<array>
			<string>God-or-Science.md</string>
		</array>
		<array>
			<string>PKU-ACM-1001-Exponentiation-求高精度幂.md</string>
		</array>
		<array>
			<string>JavaScript-Async-（异步）.md</string>
		</array>
		<array>
			<string>Java-Class-Notes.md</string>
		</array>
		<array>
			<string>Rails-4-在Openshift-上pre-compiled-图片问题.md</string>
		</array>
		<array>
			<string>Postgresql-数据库从本地通过SSH-迁移到Openshift-云端.md</string>
		</array>
		<array>
			<string>Play-with-Swift-Swift-1-2.md</string>
		</array>
		<array>
			<string>Some-notes-about-amazon-s3-403-Forbidden-error-Rails-jQuery-File-Upload-aws-sdk.md</string>
		</array>
		<array>
			<string>Rails-Persistence.md</string>
		</array>
		<array>
			<string>UITableViewCell-Custom-Views.md</string>
		</array>
		<array>
			<string>Swift-Note.md</string>
		</array>
		<array>
			<string>Swift-Function-and-Collection-Operations.md</string>
		</array>
		<array>
			<string>在Mac-OS-X-10-9环境下搭建MacVim平台.md</string>
		</array>
		<array>
			<string>Xcode-Debug.md</string>
		</array>
		<array>
			<string>激战2-Boss计时器-iOS-地图，攻略，-倒计时.md</string>
		</array>
		<array>
			<string>将本地ruby-on-rails-网站部署到openshift，包含GIT库迁移.md</string>
		</array>
		<array>
			<string>Swift-2-模块化-Observer-Pattern-（观察者模式）-实例.md</string>
		</array>
		<array>
			<string>Another-UITableView-Problem-actually-UITapGesture.md</string>
		</array>
		<array>
			<string>奇怪的现象.md</string>
		</array>
		<array>
			<string>Number-Cross-Yet-another-number-puzzle-game.md</string>
		</array>
		<array>
			<string>GeneratorType-SequenceType-CollectionType-它们都是啥？.md</string>
		</array>
		<array>
			<string>Rasta-Spring-Loader-Swift-Animation.md</string>
		</array>
		<array>
			<string>iOS-动态字体大小一行代码.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
			<integer>11</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>1f2a3769cb161ed72cc6d5769e397771ec78db72b9378167edf8ed4aca8157ad</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
